/*
Author: TARAN
29.11.2021
*/

$font-color_link_hover: #BBB9D1;
$font-color_mail_hover: #e3e3e3;
// базовые настройки
$base-font-family: 'Raleway';
$base-font-style: normal;
$base-font-weight: normal;
$base-font-color: #FFFFFD;
$base-font-size: 16px;
$base-background: #000000;

:root {
    --base-logo-width: 25vw;
    --base-logo-top-padding: 14vw;
}

//$base-logo-top-padding: 18vw;

$padding-left-links: 2vw;

@mixin bubble($left, $top, $width, $color) {
    left: $left;
    top: $top;
    width: $width;
    height: $width;
    .circle{
        background-color: $color;
    }
}


@font-face {
    font-family: $base-font-family;
    src: url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: $base-font-weight;
    font-style: normal;
}




html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x:hidden;
}
body {
    font-family: $base-font-family;
    font-style: normal;
    font-weight: $base-font-weight;
    font-size: 16px;
    background: $base-background;
    color: $base-font-color;
}

p, h1{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: var(--base-logo-top-padding);
    width: 100%;
}

.logo__wrapper{
    width: var(--base-logo-width);
}

.logo__img{
    width: 100%;
    height: auto;
}

.circle{
    border-radius: 100rem;
    width: 100%;
    height: 100%;
}

.bubble{
    z-index: -1;
    position: absolute;
}

.bubble1{
    @include bubble(calc(50vw - (0.21925 * var(--base-logo-width))), calc(var(--base-logo-top-padding) - (0.0555 * var(--base-logo-width))), calc(0.525 * var(--base-logo-width)), #A00885);
    //@include bubble(41.23vw, $base-logo-top-padding - 2.22vw, 21vw, #A00885);
    animation-name: bubble1-rotate;
    animation-duration: 3s;
    animation-direction: normal;
    animation-delay: 2s;
    //animation-iteration-count: 10;
    animation-iteration-count: infinite;
    //animation-fill-mode: forwards;
    //animation-timing-function: linear;
    animation-timing-function: ease;
    transform-origin: 40% 62% 0; // x y z
}
@keyframes bubble1-rotate {
    to {
        transform: rotate(360deg);
    }
}


.bubble2{
    @include bubble(calc(50vw + (0.33 * var(--base-logo-width))), calc(var(--base-logo-top-padding) + (0.0195 * var(--base-logo-width))), calc(0.1755 * var(--base-logo-width)), #BCE2EB);
    animation-name: bubble2-rotate;
    animation-duration: 4s;
    animation-direction: normal;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes bubble2-rotate {
    from {
        transform: rotate(0deg);
        transform-origin: 40% 50% 0; // x y z
    }
    50% {
        transform: rotate(359deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.bubble3{
    @include bubble(calc(50vw + (0.805 * var(--base-logo-width))), calc(var(--base-logo-top-padding) + (0.0945 * var(--base-logo-width))), calc(0.25 * var(--base-logo-width)), #A0CBF3);
    animation-name: bubble3-animation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: calc(-0.7 * var(--base-logo-width)) calc(0.01 * var(--base-logo-width)) 0; // x y z
}
@keyframes bubble3-animation {
    to {
        transform: rotate(360deg);
    }
}

.bubble4{
    @include bubble(calc(50vw + (0.725 * var(--base-logo-width))), calc(var(--base-logo-top-padding) + (0.53325 * var(--base-logo-width))), calc(0.1 * var(--base-logo-width)), #D0E18F);
    animation-name: bubble4-animation;
    animation-duration: 8s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    transform-origin: calc(-0.6 * var(--base-logo-width)) calc(-0.2 * var(--base-logo-width)) 0; // x y z
}
@keyframes bubble4-animation {
    to {
        transform: rotate(360deg);
    }
}

.bubble5{
    @include bubble(calc(50vw + (0.505 * var(--base-logo-width))), calc(var(--base-logo-top-padding) + (0.84525 * var(--base-logo-width))), calc(0.125 * var(--base-logo-width)), #75167F);
    animation-name: bubble5-animation;
    animation-duration: 15s;
    //animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.1, .7, 1, 1);
    transform-origin: calc(-0.4 * var(--base-logo-width)) calc(-0.4 * var(--base-logo-width)) 0; // x y z
}
@keyframes bubble5-animation {
    to {
        transform: rotate(360deg);
    }
}
.bubble6{
    @include bubble(calc(50vw - (0.275 * var(--base-logo-width))), calc(var(--base-logo-top-padding) + (0.63325 * var(--base-logo-width))), calc(0.0875 * var(--base-logo-width)), #4F75C0);
    animation-name: bubble6-animation;
    animation-duration: 6s;
    //animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: calc(0.4 * var(--base-logo-width)) calc(-0.5 * var(--base-logo-width)) 0; // x y z
}
@keyframes bubble6-animation {
    to {
        transform:  rotate(360deg);
    }
}

.bubble7{
    @include bubble(calc(50vw - (1.08 * var(--base-logo-width))), calc(var(--base-logo-top-padding) + (0.42075 * var(--base-logo-width))), calc(0.1875 *  var(--base-logo-width)), #669EE5);
    animation-name: bubble7-animation;
    animation-duration: 13s;
    //animation-direction: alternate;
    //animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: calc(1 * var(--base-logo-width)) calc(-0.2 * var(--base-logo-width)) 0; // x y z
}
@keyframes bubble7-animation {
    to {
        transform:  rotate(360deg); //translate(40vw, 300px)
    }
}

.bubble8{
    @include bubble(calc(50vw - (0.225 * var(--base-logo-width))), calc(var(--base-logo-top-padding) - (0.15425 * var(--base-logo-width))), calc(0.0875 * var(--base-logo-width)), #C12525);
    animation-name: bubble8-animation;
    animation-duration: 7s;
    //animation-direction: alternate;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transform-origin: calc(0.3 * var(--base-logo-width)) calc(0.8 * var(--base-logo-width)) 0; // x y z
}
@keyframes bubble8-animation {
    to {
        transform:  rotate(360deg); //translate(40vw, 300px)
    }
}

.bubble9{
    @include bubble(calc(50vw + (0.1 * var(--base-logo-width))), calc(var(--base-logo-top-padding) - (0.3375 * var(--base-logo-width))), calc(0.1125 * var(--base-logo-width)), #9FCBF2);
    animation-name: bubble9-animation;
    animation-duration: 10s;
    //animation-direction: alternate;
    animation-delay: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transform-origin: 60% calc(0.8 * var(--base-logo-width)) 0; // x y z
}
@keyframes bubble9-animation {
    to {
        transform:  rotate(360deg); //translate(40vw, 300px)
    }
}



.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: calc(0.175 * var(--base-logo-width));
}

.contact__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 70%;
    width: calc(1.93 * var(--base-logo-width));
}

.contact__item {
    //width: 100%;
    //flex-grow: 1;
}

.contact__presentation_link, .contact__address_link, .contact__email{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $base-font-color;
}

.contact__presentation_link__text {
    font-size: calc(0.05 * var(--base-logo-width)); // 5%
    padding-left: $padding-left-links;
    line-height: 1.4;
}
.contact__presentation_link__img{
    width: calc(0.1875 * var(--base-logo-width));
    height: auto;
}

.contact__address_link__img{
    width: calc(0.0675 * var(--base-logo-width));
    height: auto;
}

.contact__address_link {
    text-decoration: none;
}

.contact__address_link__text{
    font-size: calc(0.04 * var(--base-logo-width)); //4%
    padding-left: $padding-left-links;
    line-height: 1.4;
}

.contact__email__img{
    width: calc(0.125 * var(--base-logo-width));
    height: auto;
}

.contact__email__link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: $padding-left-links;
}

.contact__email__link_phone, .contact__email__link_email{
    display: block;
    font-size: calc(0.04 * var(--base-logo-width));
    line-height: 1.4;
    color: $base-font-color;
}

.contact__email__link_email{
    padding-top: calc(0.0125 * var(--base-logo-width));
}


@media (max-width: 1800px) {
    :root {
        --base-logo-width: 27vw;
        --base-logo-top-padding: 14vw;
    }
}
@media (max-width: 1700px) {
    :root {
        --base-logo-width: 29vw;
        --base-logo-top-padding: 15vw;
    }
}
@media (max-width: 1600px) {
    :root {
        --base-logo-width: 32vw;
        --base-logo-top-padding: 15vw;
    }
}
@media (max-width: 1500px) {
    :root {
        --base-logo-width: 35vw;
        --base-logo-top-padding: 15vw;
    }
}
@media (max-width: 1400px) {
    :root {
        --base-logo-width: 37vw;
        --base-logo-top-padding: 16vw;
    }
}

@media (max-width: 1200px) {
    :root {
        --base-logo-width: 40vw;
        --base-logo-top-padding: 18vw;
    }
}


@media (max-width: 576px) {
    :root {
        --base-logo-width: 90vw;
        --base-logo-top-padding: 33vw;
    }

    .bubble3, .bubble7{
        display: none;
    }

    .bubble4{
        @include bubble(calc(50vw + (0.07 * var(--base-logo-width))), calc(var(--base-logo-top-padding) + (0.725 * var(--base-logo-width))), calc(0.07 * var(--base-logo-width)), #D0E18F);
        transform-origin: calc(0 * var(--base-logo-width)) calc(-0.5 * var(--base-logo-width)) 0; // x y z
    }

    .bubble5{
        @include bubble(calc(50vw - (0.32 * var(--base-logo-width))), calc(var(--base-logo-top-padding) + (1.25 * var(--base-logo-width))), calc(0.14 * var(--base-logo-width)), #75167F);
        transform-origin: calc(0.3 * var(--base-logo-width)) calc(-0.22 * var(--base-logo-width)) 0; // x y z
    }

    .bubble6{
        @include bubble(calc(50vw - (0.335 * var(--base-logo-width))), calc(var(--base-logo-top-padding) + (0.6 * var(--base-logo-width))), calc(0.0875 * var(--base-logo-width)), #9FCBF0);
        transform-origin: calc(0.4 * var(--base-logo-width)) calc(-0.35 * var(--base-logo-width)) 0; // x y z
    }

    .bubble8{
        @include bubble(calc(50vw - (0.3 * var(--base-logo-width))), calc(var(--base-logo-top-padding) - (0.19 * var(--base-logo-width))), calc(0.1 * var(--base-logo-width)), #C22526);
        transform-origin: calc(0.4 * var(--base-logo-width)) calc(0.4 * var(--base-logo-width)) 0; // x y z
    }

    .bubble9{
        @include bubble(calc(50vw + (0.1 * var(--base-logo-width))), calc(var(--base-logo-top-padding) - (0.32 * var(--base-logo-width))), calc(0.1125 * var(--base-logo-width)), #9FCBF2);
        transform-origin: calc(0 * var(--base-logo-width)) calc(0.6 * var(--base-logo-width)) 0; // x y z
    }

    .contact{
        padding-top: calc(0.275 * var(--base-logo-width));
        width: 100%;
    }

    .contact__wrapper{
        flex-direction: column;
        width: 100%;
    }
    .contact__item {
        display: flex;
        justify-content: center;
        padding-bottom: calc(0.08 * var(--base-logo-width));
        width: 100%;
    }

    .contact__presentation_link, .contact__address_link{
        width: 100%;
    }

    .contact__img_wrapper{
        width: 40%;
        display: flex;
        justify-content: end;
    }

    .contact__presentation_link__text, .contact__address_link__text, .contact__email__link{
        width: 60%;
    }
}
